body{
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  background: #0789a6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f75761e1, #c56ef1, #06bae3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f1303dea, #ca71f7, #0872dc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

button {
  cursor: pointer;
} 